@charset "UTF-8";
@import '../../common/css/util/variable';
@import '../../common/css/util/_mixin';

body{
  .bbccdd{
    @include square(200px);
    background: red;
    display: flex;
  }
}
.body1{
  .bb1{
    @include square(100px);
    background: red;
  }
}
